---
import { ROUTES } from '../consts';
import { Icon } from 'astro-icon';

const year = new Date().getFullYear();

let QUERY = encodeURIComponent(`*[_type == "settings"]`);
const date = new Date().toISOString().substring(0, 10);
const url = `https://${import.meta.env.SANITY_PROJECT_ID}.api.sanity.io/v${date}/data/query/${import.meta.env.SANITY_DATASET}?query=${QUERY}`;
const response = await fetch(url);
const data = await response.json();
const socialMedia = data.result[0].socialMedia;
const name = data.result[0].name;

interface Social {
  _key: string,
  _type: string,
  icon: string,
  label: string,
  link: string
}
---

<footer>
  <div class="flex flex-col items-center mt-12 gap-4 mb-4">
    <div class="flex gap-4">
      {
        socialMedia.map((social:Social) => (
          <a href={social.link} target="_blank">
            <Icon
              name={social.icon}
              aria-label={social.label}
              class="w-5 h-5"
              fill="currentColor"
              width="24"
              height="24"
            />
          </a>
        ))
      }
    </div>

    <nav
      class="flex flex-wrap justify-center md:justify-start gap-x-4 gap-y-2 md:gap-6"
    >
      {ROUTES.map((route) => <a href={route.href}>{route.label}</a>)}
    </nav>

    <div class="text-gray-500 text-sm text-center">
      © {year} - {name}
    </div>
  </div>
</footer>

<style>
  a {
    @apply text-gray-500 hover:text-gray-600 active:text-gray-600 dark:hover:text-gray-400 dark:active:text-gray-400 transition-colors;
  }
</style>
